<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="bootstrap3.3.5/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/detail.css"/>
	</head>
	<body>
		<div class="bann">
			<div class="bann-pic" onclick="history.back()"><img src="img/detail/返回图标拷贝.png"/></div>
			<div class="ban qwe"><h3>商品</h3></div>
			<div class="ban asd"><h3>详情</h3></div>
			<div class="bann-img"><img src="img/detail/更多拷贝.png"/></div>
		</div>
<div id="box">
<div class="box-txt jia">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">	
		<ol class="carousel-indicators" id="dian">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox" id="pic">
		    <div class="item active">
			    <img :src="obj.banner1" alt="...">
			    <div class="carousel-caption"></div>
		    </div>
		    <div class="item">
			    <img :src="obj.banner2" alt="...">
			    <div class="carousel-caption"></div>
		    </div>
		    <div class="item">
			    <img :src="obj.banner3" alt="...">
			    <div class="carousel-caption"></div>
		    </div>
	  	</div>
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<div class="box1">
		<p>{{obj.title}}</p>
		<div>
			<span>{{obj.pay}}关注</span>
		</div>
	</div>
	<div class="box2">
		<p>${{obj.price}}.00</p>
		<span>降价通知</span>
	</div>
	<div class="box4">
		<div class="box4-1">
			<div class="box4-txt">
				<span>服务</span>
				<p>七天无理由+运险费+公益宝贝</p>
			</div>
			<div class="box4-pic"><img src="img/右方向.png"/></div>
		</div>
		<div class="box4-1">
			<div class="box4-txt">
				<span>规格</span>
				<p>选择：颜色分类，套餐类型</p>	
			</div>
			<div class="box4-pic"><img src="img/右方向.png"/></div>
		</div>
		<div class="box4-1">
			<div class="box4-txt">
				<span>参数</span>
				<p>包装体积，厚度……</p>	
			</div>
			<div class="box4-pic"><img src="img/右方向.png"/></div>
		</div>
			<div class="count">
					<span class="s_title">数量</span>
					<div>
						<button @click="jian()">-</button>
						<input type="number" value="1" min="1" v-model="num"/>
						<button @click="jia()">+</button>
					</div>
					<p>库存{{obj.save}}件</p>
				</div>
	</div>
	
	<div class="box4">
		<div class="box4-1">
			<div class="box4-txt">
				<span>送至</span>
				<p><em>北京</em><em>朝阳区</em><em>管庄</em></p>
			</div>
			<div class="box4-pic"><img src="img/右方向.png"/></div>
		</div>
		<div class="box4-1">
			<div class="box4-txt">
				<span>重量</span>
				<p>6KG</p>	
			</div>
			<div class="box4-pic"><img src="img/右方向.png"/></div>
		</div>
	</div>
	
	<div class="box5">
		<div class="box5-title">
			<span>评价(12.9万)</span>
			<p>查看评价</p>
		</div>
		<div class="box5-nav">
			<span>运行速度快(10万)</span>
			<span>外观极佳(6万)</span>
			<span>服务好(11万)</span>
			<span>评价一般(11万)</span>			
		</div>
		<div class="msg">
			<h2>
				商品评论 <span>(5643评论)好评度94%</span>
			</h2>
			<div class="msg_content" v-for="item in obj.comment">
				<div>
					<div class="msg_user">
						<div>{{item.name}}</div>
						<div>
							<em>好评</em>
							<span>{{item.data}}</span>
						</div>
					</div>
					<p>{{item.content}}</p>
					<div class="msg_pic">
						<ul>
							<li v-for="pic in item.pic"><img v-bind:src="pic"/></li>
						</ul>
							
					</div>
				</div>
			</div>
			<div class="more">查看更多评论</div>
		</div>
	</div>
</div>	
<div class="box-pic" v-for="item in obj.detail">
	<img v-bind:src="item"/>
</div>
	<footer>
			<div class="collect">收藏</div>
			<div class="btn">
				<button v-on:click="addCar()">加入购物车</button>
			</div>
			<div class="buy">
				立即购买
			</div>
		</footer>
</div>	
	
	<script src="vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="axios/dist/axios.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="js/JS.js" type="text/javascript" charset="utf-8"></script>
	<script src="bootstrap3.3.5/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="bootstrap3.3.5/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(".qwe").on("click",function(){
				$("#box div").toggleClass("jia");
			});
			$(".asd").on("click",function(){
				$("#box div").toggleClass("jia");				
			});
			var app=new Vue({
				el:"#box",
				data:{
					obj:{},
					num:1
				},
				created(){
					var id=location.search.split("=")[1];
					axios.get("/detail/"+id).then((res)=>{
						this.obj=res.data
					})
				},
				methods:{
					jia(){
						if(this.num<this.obj.save){
							this.num++
						}
					},
					jian(){
						if(this.num>1){
							this.num--
						}
					},
					addCar(){
						var data={
							id:this.obj.id,
							name:this.obj.category,
							img:this.obj.img,
							title:this.obj.title,
							price:this.obj.price,
							num:this.num,
							bool:true
						}
						
						if(localStorage.getItem("shopCar")){
							var res=JSON.parse(localStorage.getItem("shopCar"));
							//shopCar为后端数据无法直接使用，需要转换
							var bool=true;
							for(var i=0;i<res.length;i++){
								if(res[i].id==data.id){
									res[i].num+=data.num
									bool=false;
								}
							}
							if(bool){
								res.push(data)
							}
							
							localStorage.setItem("shopCar",JSON.stringify(res))
							location = "shopcar.html";
						}else{
							var ary=[data];
							//先声明ary等于一个空数组，然后再把data的值写入进去。
							localStorage.setItem("shopCar",JSON.stringify(ary))
							location = "shopcar.html";
						}
					}
				}
			})
		</script>
	</body>
</html>